<h2>Đăng ký</h2>
<form method="POST">
  <input name="name" placeholder="Họ tên"><br>
  <input name="username" placeholder="Username"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <input name="email" placeholder="Email"><br>
  <input name="phone" placeholder="SĐT"><br>
  <input name="birthday" placeholder="YYYY-MM-DD"><br>
  <input name="country" placeholder="Quốc gia"><br>
  <select name="sex">
    <option value="1">Nam</option>
    <option value="0">Nữ</option>
  </select><br>
  <button type="submit">Đăng ký</button>
</form>
<a href="{{ url_for('auth.login') }}">Đăng nhập</a>
